<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
<link rel="stylesheet" href="{{ site.url }}/assets/lib/bootstrap/css/bootstrap.css">
{% include head.html %}
<link rel="stylesheet" href="{{ site.url }}/assets/lib/custom/showcase.css">
</head>

<body id="page">

{% include navigation.html %}

<div id="main" role="main">
  <article class="entry">
    {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>
    {% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title">
        {% if page.headline %}
          {{ page.headline }}
        {% else %}
          {{ page.title }}
        {% endif %}
        </h1>
      </header>
      <div class="entry-content">
        {{ content }}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}
<script src="http://anijs.github.io/lib/anijs/anijs-min.js"></script>
</body>
</html>
